# Ignore node modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore logs
*.log

# Ignore env files (never push secrets)
.env
client/.env
server/.env

# Ignore build files (optional for client)
client/build/
